<h1>Hey there <%= @user.first_name %>! </h1>

<p>We are so excited for you to join us on our endeavour of finding awesome, sustainable, and ethical clothing.</p>

<p>You can log in at <a href="www.bluegreenchic.com/sign_up">BGC</a>. Your username is <%= @user.email %></p>