<div class="parallax-container main-header">
  <%= render "layouts/nav" %>
   <div class="parallax hp-motto-image valign-wrapper">
    <%= image_tag 'ocean.jpg' %>
    <p class="brand-motto grey-text text-lighten-4">ethical fashion, sustainable style</p>
  </div>
</div>
<br><br>
<div class="container">

	<%= render 'new' %>

</div>