/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
/*@import "materialize/components/color";*/
@import "materialize";
@import "animate";
@import url(https://fonts.googleapis.com/css?family=Lora|Open+Sans+Condensed:300);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }

.text-in-parallax {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.parallax-container {
      height: 450px;
}

nav {
	background-color: rgba(255,255,255,0.82);
	border: 0;
	box-shadow: none;
	z-index: 999;
	-webkit-font-smoothing: antiliased;
	-webkit-transition: background .5s ease-in-out, opacity;
}

.brand-logo{
	font-family: 'Lora', serif;
	font-size: 40px;
	margin-left: 12px;
}

.hp-nav-list {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
}

.hp-motto {
	font-family: 'Poiret One', cursive;
	font-size: 52px;
	font-style: italic;
	position: absolute;
	top: 46%;
	right: 30%;
	left: 3%

}

.hp-motto-image {
	height: 100%;
	position: relative;
}

.sm-icons {
	margin-left: 5px;
}

.reserved {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	padding: 0 20px;
}
