// Place all the styles related to the brands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.brand-motto {
	font-family: 'Poiret One';
	font-size: 52px;
	font-style: italic;
	position: absolute;
	top: 50%;
	right: 30%;
	left: 3%
}

#value-nav {
	position: relative; 
	background-color: rgb(255,255,255);
	padding: 10px 0px;
	width: 100%;
	text-align: center;

}

.edit-brands {
	color: #ffab40;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
}

// EVEN ID
.brand-image-left {
	padding: 0 30px 0 60px;
}

.brand-body-left {
	padding: 0 30px 0 60px;
	text-align: justify;
  text-justify: inter-word;
  font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
}

img.responsive-img {
	max-width: 100%;
	height: 350px;
}

// LEFT ID
.brand-image-right {
	padding: 0 60px 0 30px;
}

.brand-body-right {
	padding: 0 60px 0 30px;
	text-align: justify;
  text-justify: inter-word;
  font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
}



.brand-index-title {
	font-family: 'Poiret One', cursive;
	font-size: 50px;
}

.form-keyvalue-list {
	display: inline-block; 
	list-style: none; 
	margin-left: 10px
}

li.keyvalue-brand-list-li {
	display: inline-block;
	list-style: none;
}

.input_field {
	width: auto !important;
}

.extra-room {
	height: 90px;
	display: none;
}

.extra-room-show {
	display:block !important;
}



.brand-form-submit {
	position: absolute;
  top: 33%;
  left: 30%;
  font-family: Poiret One;
  color: #757575;
  font-size: 15px;
}

.brand-search-form {
  position: absolute;
  left: 13%;
  top: 15%;
  width: 285px !important;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px !important;
}

#brand input[type=text] {
  color: #757575 !important;
}

.search-select ::-webkit-input-placeholder-shown {
  font-size: 18px;
  color: #f48fb1;
}

.search-select ::-webkit-input-placeholder {
	font-family: 'Open Sans Condensed', sans-serif !important;
  font-size: 18px !important;
  color: #f48fb1;
  opacity: 1;
}





