// Place all the styles related to the brands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.brand-motto {
	font-family: 'Poiret One', cursive;
	font-size: 52px;
	font-style: italic;
	position: absolute;
	top: 50%;
	right: 30%;
	left: 3%
}

#value-nav {
	position: relative;
	width: 100%;

}

#value-nav.fixed {
	position: fixed; 
	top: 64px; 
	left: 0;
	z-index: 1;
	background-color: rgb(255,255,255);
	padding: 20px 0px;
	width: 100%;
}

.value-nav {
	height: 100px;
}

.brand-image {
	padding: 25px;
}

.brand-body {
	padding: 25px;
}

.brand-index-title {
	font-family: 'Poiret One', cursive;
	font-size: 50px;
}