.login-form-title {
	font-family: 'Lora', serif;
	color: #26a69a;
	padding-bottom: 20px;
	font: 18px;
}

.sign-in-form {
	padding-top: 150px;
}

.sign-form-submit {
	display: inline-block;
	padding-top: 18px;
}

.new-user-submit {
	padding-top: 18px;
}

.forgot-password-button {
	display: inline-block;
	padding-top: 18px;
	// font-size: 12px;
}

.field em {
	font-size: 10px;
	color: #26a69a;
}