.sign-in-motto {
	font-family: 'Poiret One';
	font-size: 52px;
	font-style: italic;
	position: absolute;
	top: 20%;
	right: 30%;
	left: 2%
}

.login-form-title {
	font-family: 'Poiret One';
	color: #26a69a;
	padding-bottom: 20px;
	font: 18px;
}

.sign-in-form {
	padding-top: 80px;
}

.sign-form-submit {
	display: inline-block;
	padding-top: 18px;
}

.new-user-submit {
	padding-top: 18px;
}

.forgot-password-button {
	display: inline-block;
	padding-top: 18px;
	// font-size: 12px;
}

.field em {
	font-size: 10px;
	color: #26a69a;
}

.field i {
	font-size: 10px;
	color: #9e9e9e;
}

.forgot-password {
	font-family: 'Poiret One';
	font-size: 14px;
	margin-top: 10px;
}

.log-in-remember {
	margin-left: 10px;
	font-size: 12px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.log-in-button {
	font-size: 12px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.log-in-back {
	font-size: 16px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.form-label {
	font-family: 'Poiret One';
	font-size: 16px;
}