// Place all the styles related to the keyvalues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .keyvalue-list {
// 	list-style-type: none;
// }

.keyvalue-list li {
	display: inline-flex;
	list-style: none;
}

.key-value-when-fixed {
	margin: 0;
}

#value-nav.fixed {
	position: fixed; 
	top: 64px; 
	left: 0;
	z-index: 1;
	background-color: rgb(255,255,255);
	width: 100%;
	height: auto;
	text-align: center;
	padding: 0px 30px 0 30px;
}

.key-value-when-fixed.fixed {
	margin: 0;
	// border-bottom: 1px solid #e0e0e0;
}

.value-nav-class {
	height: auto;
	width: 100%;
}

.checkbox-for-values {
	height: 5px !important;
	width: 5px !important;
	text-align: center;
}

[type="checkbox"] + label {
	padding-left: 10px !important;
	height: 10px !important;
}

[type="checkbox"] + label:before, [type="checkbox"]:not(.filled-in) + label:after {
  width: 10px !important;
  height: 10px !important;
  border: 1px solid #A09D9D !important;
  margin-top: 0p !important;
}

[type="checkbox"]:checked + label:before {
  // top: -4px;
  // left: -5px;
  width: 6px !important;
  height: 12px !important;
  border-top: 2px solid transparent !important;
  border-left: 2px solid transparent !important;
  border-right: 2px solid #26a69a !important;
  border-bottom: 2px solid #26a69a !important;
  }

.keyvalue-names {
	font-size: 16px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #757575 !important;
	margin-top: 0;
}

.value-block-each {
	margin: -3px 46px;
}

.modal-fixed-footer, .lean-overlay {
	background: white !important;
}

.value-modal-body {
	text-align: justify;
  text-justify: inter-word;
  font-family: 'Open Sans Condensed', sans-serif;
	// font-color: grey-text text-lighten-4;
	font-size: 16px;
}

.value-modal-title {
	font-family: 'Poiret One', cursive;
	font-size: 40px;
}

.store-card-body-key {
	display: none;
}

.keyvalue-list-li:hover .store-card-body-key {
	display: block;
}

.value-checkbox input {
	height: 10px !important;
	width: 10px !important;
	margin: 0 0 0 5px !important;
	display: inline;
	
}



