// Place all the styles related to the keyvalues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .keyvalue-list {
// 	list-style-type: none;
// }

.keyvalue-list li {
	display: inline-flex;
	list-style: none;
}

.keyvalue-list ul {
	// margin: 10px 0 0 0 !important;
}


.key-value-when-fixed {
	height: 120px;
	margin: 0;
}

.key-value-when-fixed.fixed {
	height: 100px;
	margin: 0;
	border-bottom: 1px solid #e0e0e0;
}

.checkbox-for-values {
	height: 5px !important;
	width: 5px !important;
	text-align: center;
}

[type="checkbox"] + label {
	padding-left: 19px !important;
	height: 18px !important;
}

.keyvalue-names {
	font-size: 16px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #757575 !important;
	margin-top: 0;
}

.value-block-each {
	margin: -3px 40px;
}

.modal-fixed-footer, .lean-overlay {
	background: white !important;
}

.value-modal-body {
	text-align: justify;
  text-justify: inter-word;
  font-family: 'Open Sans Condensed', sans-serif;
	// font-color: grey-text text-lighten-4;
	font-size: 16px;
}

.value-modal-title {
	font-family: 'Poiret One', cursive;
	font-size: 40px;
}

.store-card-body-key {
	display: none;
}

.keyvalue-list-li:hover .store-card-body-key {
	display: block;
}

.value-checkbox input {
	height: 10px !important;
	width: 10px !important;
	margin: 0 0 0 5px !important;
	display: inline;
	
}



