// Place all the styles related to the stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.store-index-motto {
	font-family: 'Poiret One';
	font-size: 40px;
	font-style: italic;
	position: absolute;
	top: 47%;
	left: 1%
}

.store-card {
	margin-top: 25px;
}

.my-store-card {
	margin: 25px 10px !important;
}

.store-card-main {
	margin: 25px 10px;
}

.store-image-holder {
	height: 200px;
	width: auto;
}

.card-title {
	font-family: 'Poiret One';
	font-size: 15px;
}

.store-card-body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	text-align: justify;
  text-justify: inter-word;
}

.store-card-show-me {
	font-family: 'Poiret One';
	font-size: 18px;
	position: absolute;
	bottom: 1%;
}


.brand-in-modal ul {
	margin: 0;
  padding: 0.2em;
}

.instagram-modal-text {
	font-family: 'Poiret One';
	font-size: 34px;
	color: black;
}

.the-brands-title {
	font-family: 'Poiret One';
	font-size: 28px;
}

.store-body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	text-align: justify;
  text-justify: inter-word;
}

.modal-footer-font {
	font-family: 'Open Sans Condensed', sans-serif;
}

.card .card-image img {
	height: 100%;
}

.form-brand-list {
	display: inline-block; 
	list-style: none; 
	margin-left: 10px
}

.form-brand-list-labels {
	margin-left: 4px;
}

.card .card-content {
	padding: 5px 10px !important;
}
.card .card-action {
	padding: 10px !important;
}

div.row {
	margin-bottom: 10px;
}

.store-form-submit {
	position: absolute;
  top: 18%;
  right: 2%;
  font-family: 'Poiret One';
  color: #757575;
  font-size: 15px;
}

.store-search-form {
  width: 200px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}

#store-area input[type=text] {
  color: #757575 !important;
}

#store-name input[type=text] {
  color: #757575 !important;
}

.brand-in-store {
  font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
}

.edit-stores {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	color: #ffab40;
	text-transform: lowercase !important;
	margin-right: 0 !important;
}
