// Place all the styles related to the stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.store-page-motto {
	font-family: 'Poiret One', cursive;
	font-size: 52px;
	font-style: italic;
	position: absolute;
	top: 60%;
	right: 0%;
	left: 6%
}

.store-index-motto {
	font-family: 'Poiret One', cursive;
	font-size: 52px;
	font-style: italic;
	position: absolute;
	top: 30%;
	right: 0%;
	left: 6%
}

.store-card {
	margin-top: 25px;
}

.store-card-main {
	margin: 0 10px;
}

.store-image-holder {
	height: 200px;
	width: auto;
}

.card-title {
	font-family: 'Poiret One';
	font-size: 15px;
}

.store-card-body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	text-align: justify;
  text-justify: inter-word;
}

.store-card-show-me {
	font-family: 'Poiret One';
	font-size: 18px;
	position: absolute;
	bottom: 1%;
}

.store-card-show-me-edit {
	position: absolute;
	bottom: 1%;
	right: 4%;
	font-family: 'Poiret One';
	font-size: 14px;
}

.brand-in-modal ul {
	margin: 0;
  padding: 0.2em;
}

.instagram-modal-text {
	font-family: 'Poiret One';
	font-size: 34px;
	color: black;
}

.the-brands-title {
	font-family: 'Poiret One';
	font-size: 28px;
}

.store-body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	text-align: justify;
  text-justify: inter-word;
}

.modal-footer-font {
	font-family: 'Open Sans Condensed', sans-serif;
}

.card .card-image img {
	height: 100%;
}
