.likes-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 35px;
	margin-top: 30px;
}

.likes-header {
	font-family: 'Poiret One';
	font-size: 30px;
	margin-bottom: 5px;
	
}

.likes-list {
	font-family: 'Open Sans Condensed', sans-serif;
	margin-left: 56px;
  font-size: 17px;
}

.likes-index-motto {
	font-family: 'Poiret One';
	font-size: 52px;
	font-style: italic;
	position: absolute;
	top: 56%;
	right: 30%;
	left: 2%
}

.likes-hr {
	width: 170px;
}

.edit-profile {
	font-family: 'Poiret One';
	font-size: 22px;
}