<!-- LINKS TO OTHER PAGES -->

<div class="container text-in-parallax">
  <div class="section ">
    <div class="row ">
      <div class="col s12 m4">
        <div class="icon-block">
          <a href="#">
            <h2 class="center grey-text text-lighten-1"><i class="medium material-icons">flash_on</i></h2>
            <h5 class="center hp-h5-title">The Blog</h5>
          </a>
            <p class="hp-main-description">Learn more about sustainability in fashion. Feel good about the purchases you make. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <a href="#">
            <h2 class="center grey-text text-lighten-1"><i class="medium material-icons">loyalty</i></h2>
            <h5 class="center hp-h5-title">The Brands</h5>
          </a>
            <p class="hp-main-description">Learn more about the brands we support, that meet at least 3 of our 8 sustainability keys. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <a href="#">
            <h2 class="center grey-text text-lighten-1"><i class="medium material-icons">store</i></h2>
            <h5 class="center hp-h5-title">Shop Local</a></h5>
          </a>
            <p class="hp-main-description">Find shops near you that carry sustainble fashion brands. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax"><img src="http://www.spelldesigns.com/blog/wp-content/uploads/isabelle2-77-of-84.jpg"></div>
</div>
  
<div class="container text-in-parallax">
  <div id="about-us" class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="medium grey-text text-lighten-1 mdi mdi-leaf"></i></h3>
        <h5 class="hp-h5-title"><a href="#">Get To Know Us</a></h5>
        <p class="left-align hp-main-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>

        <p class="left-align hp-main-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="http://www.magic4walls.com/wp-content/uploads/2014/03/fashion-model-grass-pier-photography-sunset-hd-wallpaper.jpg"></div>
</div>
