<!-- NAV BAR -->
<div class="parallax-container">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="grey-text text-darken-1 brand-logo">Blue Green Chic</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#" class="hp-nav-list grey-text text-darken-1">The Blog</a></li>
          <li><a href="#" class="hp-nav-list grey-text text-darken-1">The Brands</a></li>
          <li><a href="#" class="hp-nav-list grey-text text-darken-1">Shop Local</a></li>
          <% if user_signed_in? %>
            <li><a href="#" class="hp-nav-list grey-text text-darken-1">Logout</a></li>
          <% else %>
            <li><a href="#" class="hp-nav-list grey-text text-darken-1">Login</a></li>
            <li><a href="#" class="hp-nav-list grey-text text-darken-1">Sign Up</a></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
  <div class="parallax hp-motto-image">
    <img src="http://www.nicepcwallpapers.com/wp-content/uploads/2015/07/nature-beautiful-girl-vintage-wallpaper-hd.jpg">
    <p class="hp-motto grey-text text-lighten-4">ethical fashion, sustainable style</p>
  </div>
</div>


<!-- LINKS TO OTHER PAGES -->

<div class="container text-in-parallax">
  <div class="section ">
    <div class="row ">
      <div class="col s12 m4">
        <div class="icon-block">
          <a href="#">
            <h2 class="center grey-text text-lighten-1"><i class="medium material-icons">flash_on</i></h2>
            <h5 class="center hp-h5-title">The Blog</h5>
          </a>
            <p class="hp-main-description">Learn more about sustainability in fashion. Feel good about the purchases you make. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <a href="#">
            <h2 class="center grey-text text-lighten-1"><i class="medium material-icons">loyalty</i></h2>
            <h5 class="center hp-h5-title">The Brands</h5>
          </a>
            <p class="hp-main-description">Learn more about the brands we support, that meet at least 3 of our 8 sustainability keys. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <a href="#">
            <h2 class="center grey-text text-lighten-1"><i class="medium material-icons">store</i></h2>
            <h5 class="center hp-h5-title">Shop Local</a></h5>
          </a>
            <p class="hp-main-description">Find shops near you that carry sustainble fashion brands. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax"><img src="http://www.spelldesigns.com/blog/wp-content/uploads/isabelle2-77-of-84.jpg"></div>
</div>
  
<div class="container text-in-parallax">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="medium grey-text text-lighten-1 material-icons">thumbs_up_down</i></h3>
        <h5 class="hp-h5-title"><a href="#">A Little Bit About Us</a></h5>
        <p class="left-align hp-main-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="http://www.magic4walls.com/wp-content/uploads/2014/03/fashion-model-grass-pier-photography-sunset-hd-wallpaper.jpg"></div>
</div>
<div class="container text-in-parallax">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send grey-text text-lighten-1"></i></h3>
        <h5 class="hp-h5-title"><a href="#">Contact Us</a></h5>
        <i class="mdi mdi-facebook-box">FACEBOOK</i>
        <p class="center left-align hp-main-description">bluegreenchic [at] gmail [.] com</p>
      </div>
    </div>
  </div>
</div>