<!DOCTYPE html>
<html>
<head>
  <title>BlueGreenChic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.materialdesignicons.com/1.4.57/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
<main>
<div class="parallax-container">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="grey-text text-darken-1 brand-logo"> BGC</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/#about-us" class="hp-nav-list grey-text text-darken-1">About Us</a></li>
          <li><a href="#" class="hp-nav-list grey-text text-darken-1">The Blog</a></li>
          <li><a href="/brands" class="hp-nav-list grey-text text-darken-1">The Brands</a></li>
          <li><a href="/stores" class="hp-nav-list grey-text text-darken-1">Shop Local</a></li>
          <% if user_signed_in? %>
            <li><a href="/users/sign_out" data-method="DELETE" class="hp-nav-list grey-text text-darken-1">Logout</a></li>
          <% else %>
            <li><a href="/users/sign_up" class="hp-nav-list grey-text text-darken-1">Login</a></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
  <div class="parallax hp-motto-image">
    <img src="http://www.nicepcwallpapers.com/wp-content/uploads/2015/07/nature-beautiful-girl-vintage-wallpaper-hd.jpg">
    <p class="hp-motto grey-text text-lighten-4">ethical fashion, sustainable style</p>
  </div>
</div>
<%= yield %>
<div class="container text-in-parallax">
  <div id="contact-us" class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send grey-text text-lighten-1"></i></h3>
        <h5 class="hp-h5-title"><a href="#">Let's Connect</a></h5>
        <br>
        <a href=""><i class="blue-text text-darken-4 small mdi mdi-facebook-box"></i></a>
        <a href=""><i class="blue-text text-lighten-1 small mdi mdi-twitter-box"></i></a>
        <a href=""><i class="brown-text text-lighten-1 small mdi mdi-instagram"></i></a>
        <a href=""><i class="red-text text-lighten-1 small mdi mdi-pinterest-box"></i></a>
        <a href=""><i class="orange-text text-lighten-3 small mdi mdi-email"></i></a>
      </div>
    </div>
  </div>
</div>
</main>
<footer class="grey lighten-1 page-footer">
  <div class="row">
  	<div class="left reserved grey-text text-lighten-4">
        © 2016 Blue Green Chic | All Rights Reserved
    </div>
    <div class="right reserved grey-text text-lighten-4">
        Made with ♥ in Miami
    </div>
    
  </div>
</footer>
</body>
</html>
